
.btnWrapper {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

table button:nth-child(2) {
  color: rgb(193, 0, 0);
}

table button:nth-child(1) {
  color: rgb(0, 150, 40);
}
